<h1>Completion</h1>
<div class="text-block">
    <p>
        At some point, the source observable may emit a completion event. This event indicates that the observable has
        finished emitting values and will not emit any more. It is represented by an arrow and the pipe symbol (|) at
        the end of the source observable line.
    </p>
</div>
<div class="preview-block">
    <figure role="group" *ngFor="let completion of completions">
        <img
                [class]="completion.styleClass"
                [src]="completion.img"
                alt="{{ completion.alt }}"
                loading="lazy"
        />
        <figcaption>
            <span *ngIf="completion.desc">{{ completion.desc }}</span>
        </figcaption>
    </figure>
</div>
