<h1>Timeline</h1>
<div class="text-block">
    <p>
        Time in marble diagrams is represented as an arrow going from left to right. The arrow at the same time is also
        a representation of an Observable itself. The solid timeline is directly related to the Observable being active
        and continuously emitting data or events. As long as the Observable is active and responsive, the timeline
        remains coherent. Time is measured in frames, a superset of blocks. 1 frame is 2 blocks
    </p>
</div>
<div class="preview-block">
    <figure role="group" *ngFor="let timeline of timelines">
        <img
                [class]="timeline.styleClass"
                [src]="timeline.img"
                alt="{{ timeline.alt }}"
                loading="lazy"
        />
        <figcaption>
            <span>{{ timeline.desc }}</span>
        </figcaption>
    </figure>
</div>
